<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Express validator</title>
    <style>
        body{
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
  </head>
  <body>
     <div class="container">
        <h1>Datos clientes</h1>
        <form action="/datoclient" method="POST">
            <div class="mb-3">
                <label for="ced" class="form-label">cedula</label>
                <input id="ced" name="ced" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.ced %><%}%>">              
              </div>
            <div class="mb-3">
                <label for="nom" class="form-label">nombre</label>
                <input id="nom" name="nom" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.nom %><%}%>">              
            </div>
            <div class="mb-3">
                <label for="direc" class="form-label">direccion</label>
                <input id="direc" name="direc" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.direc %><%}%>">              
              </div>
            <div class="mb-3">
              <label for="telef" class="form-label">telefono</label>
              <input id="telef" name="telef" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.telef %><%}%>">              
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">correo electronico</label>
                <input id="email" name="email" type="text" class="form-control" value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%>">              
              </div>     
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
           <% if(typeof validaciones != 'undefined') { %>
            <% validaciones.forEach( (validacion)=> { %>                 
                <div class="toast-container">

                    <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
                        <div class="toast-header">
                        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
                        <strong class="me-auto">¡Atención!</strong>                 
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                        <strong><%= validacion.msg %></strong> 
                        </div>
                    </div>
                </div>              
            <% }) %>
          <% } %>

     </div>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function(toastEl) {    
      return new bootstrap.Toast(toastEl)
      });
      toastList.forEach(toast => toast.show());
    });
    </script>
  </body>
</html>